/* The practice.cs file contains the selection States for selectable buttons */

   .selected {
    background: #5E5E5E !important;
    color: #FFFFFF !important;
  }
  
  .unselected {
    background: #BBBBBB !important;
    color: #333333 !important;
  }
  